<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="https://cdn.jsdelivr.net/mark.js/8.6.0/mark.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="./scripts/angular.min.js"></script>
      <script src="./scripts/app.js"></script>
      <script src="./scripts/angular-editor.js"></script>
      <script src="./scripts/jquery-editor.js"></script>
      <link rel="stylesheet" href="./styles/global.css">
      <title>Text Editor Pro</title>
   </head>
   <body ng-app="app" ng-cloak>
      <div ng-controller="EditorController as ctrlEditor">
         <div>
            <div id="text-editor" contenteditable ng-model="TextHTML" ng-change="CheckText()"></div>     
            <table id="alerts">
               <tr>
                  <th>Visualizar palavras no texto</th>
                  <th>Palavra</th>
                  <th>Quantidade de vezes</th>
                  <th>Solicite sugestões</th>
                  <th>Sugestões</th>
               </tr>
               <tr ng-repeat="alert in Alerts" ng-if="alert[AlertIndex.times] > 1 && alert[AlertIndex.word].length > 3">
                  <td> <button ng-click="PrepareMark(alert[AlertIndex.word], alert[AlertIndex.isMarked])">{{alert[AlertIndex.isMarked] == true ? 'Desmarcar' : 'Marcar'}}  </button> 
                  </td>
                  <td>{{alert[AlertIndex.word]}}</td>
                  <td>{{alert[AlertIndex.times]}}</td>
                  <td> <button ng-click="RequestSuggestions(alert[AlertIndex.word])" ng-if="CheckButtonSuggestionVisibility(alert[AlertIndex.word])">
                     {{Loading ? 'Carregando' : 'Solicitar Sugestão' }} </button> 
                  </td>
                  <td>
                     <div ng-repeat="item in Suggestions | filter:{ word: alert[AlertIndex.word]} ">
                        <ul ng-repeat="synonym in item.synonyms">
                            <li ng-click="ChangeWordBySuggestion(synonym, item.word)">{{synonym}}</li>
                        </ul>
                     </div>
                  </td>
               </tr>
            </table>
         </div>
      </div>
   </body>
</html>