<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script src="./scripts/angular.min.js"></script>
      <script src="./scripts/app.js"></script>
      <script src="./scripts/angular-editor.js"></script>
      <link rel="stylesheet" href="./styles/global.css">
      <title>Text Editor Pro</title>
   </head>
   <body ng-app="app" ng-cloak>
      <div ng-controller="EditorController as ctrlEditor" class="column" style="gap: 3rem;">
         <div class="row">
            <textarea name="text-editor" id="text-editor" cols="100" rows="25" 
               ng-change="CheckText()" ng-model="TextEditor"></textarea>
            <table id="alerts" class="column">
               <tr>
                  <th>Palavra</th>
                  <th>Quantidade de vezes</th>
                  <th>Solicite sugestões</th>
                  <th>Sugestões</th>
               </tr>
               <tr ng-repeat="alert in Alerts" ng-if="alert[1] > 1 && alert[0].length > 3">
                  <td>{{alert[0]}}</td>
                  <td>{{alert[1]}}</td>
                  <td> <button ng-click="RequestSuggestions(alert)" ng-if="CheckButtonSuggestionVisibility(alert[0])">
                     {{Loading ? 'Carregando' : 'Solicitar Sugestão' }} </button> 
                  </td>
                  <td>
                     <div ng-repeat="item in Suggestions | filter:{ word: alert[0]}">
                        <span ng-click="ChangeWordBySuggestion(item)">{{item}}</span> 
                     </div>
                  </td>
            </table>
         </div>
         <div>
            <span>Quantidade de palavras {{Words.length > 0 && TextEditor.length > 0 ? Words.length : 0}}</span>
            <span>Quantidade de letras {{TextEditor ? TextEditor.length : 0}}</span>
         </div>
      </div>
   </body>
</html>