* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#text-editor {
    border: .1rem solid;
    height: 20rem;
    width: 40rem;
}

#text-editor:focus {
   outline: none;
}

.yellow {
    background: rgb(238, 255, 0);
}